{% extends "base.html" %}
{% load static %}
{% block title %}Dashboard{% endblock title %}

{% block scripts %}
<script src="{% static "dashboard.js" %}" defer></script>
{% endblock scripts %}

{% block content %}
<div class='max-h-[700px] overflow-y-auto'>
    <div class='flex'>
        <div class="w-1/2 p-6">
            <div id='desc-box1'></div>
            <canvas id='chart-box1'></canvas>
        </div>
        <div class="w-1/2 p-6">
            <div id='desc-box4'></div>
            <canvas id='chart-box4'></canvas>
        </div>
    </div>
    <div class='flex'>
        <div class="w-1/2 p-6">
            <div id='desc-box2'></div>
            <canvas id='chart-box2'></canvas>
        </div>
        <div class="w-1/2 p-6">
            <div id='desc-box3'></div>
            <canvas id='chart-box3'></canvas>
        </div>
    </div>
</div>
{% endblock content %}
