{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %} New {% endblock title %}

{% block content %}
{{book_id}}
<form method='POST' class='w-1/2'>
    {% csrf_token %}
    <div class="mb-2">
        <label for="{{form.customer.id_for_label}}" class="block font-bold text-slate-800 dark:text-slate-300"> customer</label>
        {{form.customer|add_class:"bg-slate-100 dark:bg-slate-300 text-slate-800 rounded p-2 w-full"}}
    </div>
    <button type='submit' class='px-3 py-2 text-white bg-sky-500 hover:bg-sky-600 rounded-xl mt-3'>Add</button>
</form>
{% endblock content %}