{% extends "base.html" %}
{% load widget_tweaks %}

{% block titele %}Update Status{% endblock titele %}

{% block content %}
{% include 'components/header.html' with title="Update Rental Status" description=object.book.id is_go_back=True%}
<form method='POST' class='w-1/2'>
    {% csrf_token %}
    <div class="mb-2">
        <label for="{{form.status.id_for_label}}" class="block font-bold text-slate-800 dark:text-slate-300"> status</label>
        {{form.status|add_class:"bg-slate-100 dark:bg-slate-300 text-slate-800 rounded p-2 w-full"}}
    </div>
    <button type='submit' class='px-3 py-2 text-white bg-sky-500 hover:bg-sky-600 rounded-xl mt-3'>update</button>
</form>
{% endblock content %}